*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.bodys {
    color: $negro;
    background-image: url(/assets/images/Elegante\ y\ versátil\ presentación\ informe\ seo\ web\ azul.png);
    width: 100%;
}