footer {
    .parrafofinal {
        background-color: $blanco;
        text-align: center;
        border: 2px solid;
        border-radius: 10px;
    }

}

footer {
    h3 {
        text-align: center;
        color: $blanco;
    }

    h4 {
        text-align: center;
    }

    .h4 a {
        color: $blanco;
    }
}