
div {
    .Sesionkinesio {
        margin: 0;
        border: 2px solid;
        border-radius: 10px;
        background-color: $blanco;
        align-items: center;
    }

    .Titulo {
        text-decoration: underline;
        background-color: $blanco;
        text-align: center;
        border: 2px solid;
        border-radius: 10px;
        color: black;

    }
}

div {
    .videokinesio {
        justify-content: center;
        width: 250px;
        display: flex;
        margin: 0 auto;
        border: 2px solid;
        border-radius: 10px;
        align-items: center;
    }
}
.parrafoquiro {
    text-align: start;
    font-weight: bold;
    line-height: 2;
}

.videoquiropraxia {
    justify-content: center;
    width: 340px;
    display: flex;
    margin: 0 auto;
    border: 20px solid $blanco;
    border-radius: 20px;
}